.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #56585e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.box {
  display: flex;
  align-items:center;
}

.tabNoBorder {
  border-collapse: collapse;
}

.noBorder {
  border:none !important;
}